.container{
  margin: 0 auto;
  margin-top: 30px;
  padding-right: 35em ;
  background-color: #3b4652;
  opacity: .93;
  padding: 110px 40px;
  box-shadow: 90px 59px 15px #848484;
  border-radius: 30px;

  width: 500px;
}

.center{
  text-align: center;
  margin-top: 2em;
}

body{
	background-image: url(img/gris.jpg);
	background-color: white;
	background-repeat: no-repeat ;
	background-size: 130em 70em, cover;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 80px;
}
p{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px;
}
input{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}
label{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}
legend{
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}
h3 {
  color: black;
  font-family: sans-serif;
  margin: 50px;
  background-color: #3b4652 ;
  box-shadow: 90px 59px 15px #848484;
}
