<ul class="nav nav-tabs" >
  <img src="../img/house.png" width="45" height="45">
  <li class="nav-item" >
    <a>Login</a>
  </li>
</ul>


<center><h3>
  <%= flash[:notice] %>

</h3><center>


<div class="container-login">
  <form class="form-signin" action="/login/new" method="post">
    <div class="text-center">
      <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>
      <label for="email" class="sr-only">Email:
      </label>
      <input style="margin-top: 5px;" class="form-control" type="text" name="email" placeholder="Email address" required autofocus>
      <label for="password" class="sr-only">Password:
      </label>
      <input style="margin-top: 5px;" class="form-control" type="password" name="password" placeholder="Password" required>
      <button style="margin-top: 5px;" class="btn btn-lg btn-primary btn-block"type="submit" name="button">Sign in</button>
    </div>
  </form>
</div>
